body {
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #0fb9b1;
  justify-content: space-between;
  height: 26px;
  display: flex;
  font-size: 23px;
  font-weight: 450;
  padding: 15px
}
.required{
  color: #FF0000
}
.flex-box {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 4%;
}
#box1{
  height: 305px;
  width: 395px;
  background-color:rgba(225, 225, 225, .9);
  margin:8px;
  opacity:97%;
}
#box2{
  height: 305px;
  width: 395px;
  background-color:rgba(225, 225, 225, .9);
  margin:8px;
  opacity:97%;
}
.cookpotdisplay{
  height: 8vw;
  width: 6vw;
  padding-top: 25%;
  padding-left: 35%;
}
#addRecipeButton {
  margin-left: auto;
  margin-right: 0;
  height: 100%;
  background-color:rgba(225, 225, 225, .9);
  border:none;
  border-radius: 3px;
}
#addRecipeButton:hover {
background-color: #eeeeee;
}
.lets-cook-button{
  background-color: #0fb9b1;
  border-style: ridge;
  border-color: #00BFFF;
  border-radius: 4px;
  text-align: center;
  width:9vw;
  height: 1.7vw;
  font-size: 11px;
  margin-left: 03px;
  margin-top: 1vh;
  margin-bottom: 8vh;
  padding: 0;
}
.lets-cook-button:hover{
  background-color:#11d1c8;
}
.radios{
  font-size:14px;
  padding-left: 2vw;
  margin-top:1px
}
.box1-lead{
  position: relative;
  font-size: 23px;
  margin-left: 24px;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 0;
}
#food-text{
  position: relative;
  bottom: 30px;
  right: 67px;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  height: 305px;
  width: 395px;
  padding-bottom: 100%;
  padding-left: 0;
  padding-right: 140%
}
.food-text{
  position: relative;
  bottom: 30px;
  right: 67px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  height: 305px;
  width: 395px;
  padding-bottom: 100%;
  padding-left: 0;
  padding-right: 140%


}
.foodResults{
  position: relative;
  font-size: 11px;
  bottom: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: italic;
  padding-left: 30%;
}
/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
